.context{
    margin-left: 100px;
    margin-top: -20px;
    margin-bottom:-20px;
}

@media only screen and (min-width: 600px){
    .context{
        margin-left: -50px;
        margin-right: 80px;
    }
}