    <!-- Footer Section -->
    <div class="footer" id="contact">
      <div class="row">
        <div class="column">
          <h1 style="text-align: center; font-size: 25px; text-transform: uppercase; margin-top: -20px; color: #fff;"><a href="about" style="color:#fff;">About Trainer</a></h1>
          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, <br>
            vel illum dolore eu feugiat nulla facilisis at vero Duis autem vel eum iriure dolor in <br>
            hendrerit in vulputate velit esse eros et accumsan.</p>
          <p>Pellentesque eget dolor gravida, tempus purus ac, ultricies mauris. Etiam est nisl,<br>
            molestie sed egestas bibendum, varius eu diam.</p>
        </div>
        <div class="column">
          <h1 style="text-align: center; font-size: 25px; text-transform: uppercase; margin-top: -20px; color: #fff;">Social</h1>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i><span>Google-Plus</span></a></li>
          </ul>
        </div>
        <div class="column">
          <h1 style="text-align: center; font-size: 25px; text-transform: uppercase; margin-top: -20px; color: #fff;"><a href="contact" style="color: #fff;">Contact Us</a></h1>
          <p> Contact our 24/7 customer support if you have any questions. We'll help you out. </p>
          <a href="mailto:support@gmail.com">kenyxndush@gmail.com</a> </div>
      </div>
 