{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="../static/images/Abs.gif" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">ABS WORKOUT</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="../static/images/fit.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">ARM & CHEST WORKOUT</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="../static/images/shoulder-back.jpeg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">SHOULDER & BACK WORKOUT</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="../static/images/leg-workout.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">LEG WORKOUT</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  {% for header in headings %}
                  <th>{{ header }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                
                {% for row in data %}
                <tr>
                  {% for cell in row %}
                  <td>{{ cell }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock %}