{% extends 'layout.html' %}
<link rel="stylesheet" href="../static/css.table.css">
{% block body %}

<div class="container">
   <div class="content">
    <div class="container">
   <h2>Users table</h2>
 <ul class="responsive-table">
  <li class="table-header">
    <div class="col col-1">Name</div>
    <div class="col col-2">Email</div>
    <div class="col col-3">County</div>
  </li>
  <li class="table-row">
    <div class="col col-1" data-label="Name">Admin</div>
    <div class="col col-2" data-label="Email">admin@gmail.com</div>
    <div class="col col-3" data-label="County">EMBU</div>
  </li>
    <li class="table-row">
    <div class="col col-1" data-label="Name">User</div>
    <div class="col col-2" data-label="Email">user@gmail.com</div>
    <div class="col col-3" data-label="County">MERU</div>
  </li>
   </div><br/>

   <div class="container">
  <h2>BACHELOR OF SCIENCE IN COMPUTER SCIENCE:<small>Programmes</small></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Unit Code</div>
      <div class="col col-2">Unit Name</div>
      <div class="col col-3">Hours</div>
      <div class="col col-4">Status</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Unit Code">411</div>
      <div class="col col-2" data-label="Unit Name">Network Security</div>
      <div class="col col-3" data-label="Hours">60</div>
      <div class="col col-4" data-label="Status">Approved</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Unit Code">412</div>
      <div class="col col-2" data-label="Unit Name">Knowledge-Based System</div>
      <div class="col col-3" data-label="Hours">60</div>
      <div class="col col-4" data-label="Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Unit Code">414</div>
      <div class="col col-2" data-label="Unit Name">ICT and Society</div>
      <div class="col col-3" data-label="Hours">60</div>
      <div class="col col-4" data-label="Status">Approved</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Unit Code">416</div>
      <div class="col col-2" data-label="Unit Name">Final Year Project</div>
      <div class="col col-3" data-label="Hours">60</div>
      <div class="col col-4" data-label="Status">Approved</div>
    </li>
  </ul>
</div>
</div>
</div>
{% endblock%}