{% extends 'layout.html' %}
<link rel="stylesheet" href="../static/css.table.css">
{% block body %}

<div class="container">
   <div class="content">
    <div class="container">
    <h2>ARM AND CHEST:<small>Workout</small></h2>
    <ul class="responsive-table">
      <li class="table-header">
      <div class="col col-1">Workout Days</div>
      <div class="col col-2">Workout Name</div>
      <div class="col col-3">Time(seconds)</div>
      <div class="col col-4">Status</div>
      <div class="col col-5">Gif</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Workout Days">1</div>
      <div class="col col-2" data-label="Workout Name">Jumping Jacks</div>
      <div class="col col-3" data-label="Time(seconds)">30</div>
      <div class="col col-4" data-label="Status">Light Intensity</div>
      <div class="col col-5" data-label="Gif"><img style="width: 80px; height: 80px;" src="../static/images/jumping-jack.gif"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Workout Days">2</div>
      <div class="col col-2" data-label="Workout Name">Inclined Push-ups</div>
      <div class="col col-3" data-label="Time(seconds)">30</div>
      <div class="col col-4" data-label="Status">Light Intensity</div>
      <div class="col col-5" data-label="Gif"><img style="width: 80px; height: 80px;" src="../static/images/Incline-Push-Up.gif"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Workout Days">3</div>
      <div class="col col-2" data-label="Workout Name">Box Push-ups</div>
      <div class="col col-3" data-label="Time(seconds)">30</div>
      <div class="col col-4" data-label="Status">Light Intensity</div>
      <div class="col col-5" data-label="Gif"><img style="width: 80px; height: 80px;" src="../static/images/pushup.gif"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Workout Days">4</div>
      <div class="col col-2" data-label="Workout Name">Knee Push-ups</div>
      <div class="col col-3" data-label="Time(seconds)">30</div>
      <div class="col col-4" data-label="Status">Moderate Intensity</div>
      <div class="col col-5" data-label="Gif"><img style="width: 80px; height: 80px;" src="../static/images/knee-pushup.gif"></div>
    </li>
  </ul>
</div>
</div>
</div>
{% endblock%}